@charset "utf-8";

/* wrap */
#wrap { width: 100%; height: 100vh; position: relative; overflow: hidden; background: url(../images/sub/book2_bg.png) no-repeat center top;  }

/* header */
#header { position: absolute; left: 50%; top: 20px; transform: translateX(-50%); text-align: center; width: 100%; z-index: 9;  }
#header h1 img { width: 100px; height: 50px; cursor: pointer; }

#header .menu { position: absolute; right: 10%; top: 50%; transform: translateY(-50%); cursor: pointer; margin-top: 5px; }
#header .menu img { width: 25px; height: 20px; }


/* container */
#container { position: relative; text-align: center; height: 100vh; width: 100%;  }

#container .box1 { box-sizing: border-box; position: absolute; width: 209px; height: 43px; left: 50%; transform: translateX(-50%); top: 100px; background: #FFFFFF; border: 1.5px solid #000000; box-shadow: 3px 3px 0px #000000; display: flex; align-items: center; justify-content: center; }
#container .box1 h2 { font-size: 1.8rem; }

#container .box2 { display: flex; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#container .box2 ul li {  width: 150px; height: 110px; background-color: #FFFFFF; border: 1.5px solid #000000; box-shadow: 3px 3px 0px #000000; margin: 40px 20px; padding-top: 40px; cursor: pointer; transition: all 0.5s; }
#container .box2 ul li:hover { transform: translate(0,-10px); }
#container .box2 ul li a { font-size: 1.8rem; font-weight: bold;  }